/*-- Default Element Styling --*/
body {
  min-height: 100%;
  width: 100%;
  background-image: url(/assets/Images/pexels-miguel.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-size: cover; */
  background-color:#cecece;
  font-family: 'Montserrat', sans-serif;

  /* SHORTHAND CSS NOTATION --- not working.
   * background: url(/assets/Images/pexels-miguel.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The background image size is 93% smaller in size
     * to improve page load speed on mobile internet connections */
    background-image: url(assets/Images/pexels-miguel-sm.jpg);
  }
	}
/*-- Default Element Styling End --*/

/* Pinned down Menu */
.navbar {
  position: fixed;
  right: 75px;
  left: 75px;
  top: 0%;
}
/* div class external_grid */
.external_grid {
  display: grid;
}

/* div class external_item1 for Navbar row */
.external_item1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

/* div class external_item2 for content*/
.external_item2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

/* div class grid for content */
.grid {
  display: grid;
  padding: 60px 75px;
  column-gap: 10p;
  color: rgb(0, 0, 0);
}

/* div class content1 for Landing page content*/
.content1 {
  background-color: #ffffff;
  grid-row-start: 1;
  grid-column-end: 5;
  padding: 60px 15px;
}

.content1 p {
  color: rgb(0, 0, 0);
}

.content1 #figure {
  float: left;
}
/* div class item0 for Temp vs Lat img */
.item0 {
  float: center;
  display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

/* div class content2 for Visualization page content*/
.content2 {
  background-color: #ffffff;
  grid-row-start: 5;
  grid-column-end: 6;
  padding: 60px 65px;
}
.content2 #figure {
  display: grid;
  justify-content: center;
  gap: 20px;
}

/* Styling when hovering over plot image */
.hov1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px;
  border-style: solid;
  border-color: #ffffff;
}
.hov2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px;
  border-style: solid;
  border-color: #ffffff;
}
.hov3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 5px;
  border-style: solid;
  border-color: #ffffff;
}
.hov4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  border-style: solid;
  padding: 5px;
  border-color: #ffffff;
}
/*-- Styling when hovering over plot img END --*/

.content2 img {
  margin: 10px;
  width: 100%;
  padding: 5px;
}
.hov1:hover {
  border-color: rgb(0, 0, 0);
}
.hov2:hover {
  border-color: rgb(0, 0, 0);
}
.hov3:hover {
  border-color:rgb(0, 0, 0);
}
.hov4:hover {
  border-color:rgb(0, 0, 0);
}

.external_grid{
  display: grid;
}

.external_item1{
  grid-row-start: 1;
  grid-row-end: 2;
}

.external_item2{
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid {
  display: grid;
  color: rgb(0, 0, 0);
  gap: 20px;
}
  
.content1 {
  background-color: #ffffff;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px 15px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.container1 p {
  color: rgb(0, 0, 0)
}
.container1 #figure {
  float: left;
}
.item0 {
  float: left;
  margin: 10px;
}
.content2 {
  background-color: #ffffff;
  grid-row-start: 2.5;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px 15px;
}
.content2 #figure {
  display: grid;
  justify-content: center;
  gap: 20px;
}
/* ------  BEGIN OF SCRIPT ------  */
.hov1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px;
  border-style: solid;
  border-color: #ffffff;
}
.hov2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px;
  border-style: solid;
  border-color: #ffffff;
}
.hov3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px;
  border-style: solid;
  border-color: #ffffff;
}
.hov4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-style: solid;
  padding: 5px;
  border-color: #ffffff;
}
.content2 img {
  margin: 10px;
  width: 100%;
  padding: 5px;
}
.hov1:hover {
  border-color: rgb(97, 97, 97);
}
.hov2:hover {
  border-color: rgb(97, 97, 97);
}
.hov3:hover {
  border-color: rgb(97, 97, 97);
}
.hov4:hover {
  border-color: rgb(97, 97, 97);
}


