/*-- Default Element Styling --*/
html {
    /* html height for background image */
    height: 100%;
}

body {
    display: block;
    overflow: scroll;
    background: url("/images/pexels-miguel-á-padriñán-19670.jpg");
    height: 100%;

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-- Default Element Styling End --*/


/* Navigation Bar Start*/
.navbar{
    max-height: 60px;
    background-color: #c8cac9; /* color #c8cac9 */
}
